<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#22f7c7">
    <meta name="msapplication-TileColor" content="#22f7c7">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<section class="hero is-medium is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-3">
                <strong class="welcome-text"></strong>
            </h1>
            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                var typed = new Typed(".welcome-text", {
                    strings: ["Hi, I'm Alex!", "Hi, I'm studying Software Engineering.", "Hi, I'm a technology enthusiast.", "Hi, I'm an Apple Certified Support Professional.", "Hi, I'm アレックス！"],
                    typeSpeed: 50,
                    backDelay: 1000,
                    backSpeed: 50,
                    loop: true
                });
            </script>
            <h2 class="subtitle">
                Welcome to my Website!
            </h2>
            <a href="https://www.github.com/alexsmbaratti/">
                <span class="icon is-large">
                    <i class="fab fa-github fa-3x"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/alexsmbaratti/">
                <span class="icon is-large">
                    <i class="fab fa-linkedin fa-3x"></i>
                </span>
            </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Experience</h1>
        <% experience.forEach(function(row) { %>
            <div class="columns">
                <% row.forEach(function(job) { %>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="columns">
                                    <div class="column">
                                        <p class="title has-text-centered-mobile">
                                            <%= job['title'] %>
                                        </p>
                                    </div>
                                    <div class="column">
                                        <p class="subtitle has-text-right has-text-centered-mobile has-text-weight-bold has-text-primary">
                                            <%= job['date'] %>
                                        </p>
                                    </div>
                                </div>
                                <p class="subtitle has-text-centered-mobile is-italic">
                                    <%= job['employer'] %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Education</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                            </div>
                            <div class="column">
                                <p class="title">
                                    Arizona State University
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right has-text-centered-mobile has-text-weight-bold has-text-primary">
                                    Expected Graduation May 2021
                                </p>
                            </div>
                        </div>
                        <p class="subtitle">
                            Pursuing a Bachelor of Science in Software Engineering
                        </p>
                        <ul>
                            <li>Focus in Web & Mobile</li>
                            <li>Barrett, The Honors College</li>
                            <li>Thesis on Autonomous Vehicles</li>
                            <li>4+1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Software Projects</h1>
        <div class="columns">
            <% softwareProjects.forEach(function(project) { %>
                <div class="column">
                    <a href="<%= project['link'] %>">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= project['img'].src %>" alt="<%= project['img'].alt %>">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title">
                                    <%= project['title'] %>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">DIY Projects</h1>
        <div class="columns">
            <% diyProjects.forEach(function(project) { %>
                <div class="column">
                    <a href="<%= project['link'] %>">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= project['img'].src %>" alt="<%= project['img'].alt %>">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title">
                                    <%= project['title'] %>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Other Links</h1>
        <% links.forEach(function(link) { %>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-four-fifths">
                                    <a href="<%= link['link'] %>">
                                        <p class="title has-text-left has-text-centered-mobile">
                                            <%= link['title'] %>
                                        </p>
                                    </a>
                                </div>
                                <div class="column">
                                    <p class="subtitle has-text-right has-text-centered-mobile has-text-weight-bold has-text-primary">
                                        <%= link['date'] %>
                                    </p>
                                </div>
                            </div>
                            <p class="subtitle has-text-left has-text-centered-mobile is-italic">
                                <%= link['publisher'] %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</section>
</body>
</html>
