<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/rosalinabot.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Software Projects
                </a>

                <div class="navbar-dropdown">
                    <% softwareProjects.forEach(function(project) { %>
                        <a href="<%= project['link'] %>" class="navbar-item">
                            <%= project['title'] %>
                        </a>
                    <% }) %>
                    <hr class="navbar-divider">
                    <a href="/portfolio-site" class="navbar-item">
                        Portfolio Site
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    DIY Projects
                </a>

                <div class="navbar-dropdown">
                    <% diyProjects.forEach(function(project) { %>
                        <a href="<%= project['link'] %>" class="navbar-item">
                            <%= project['title'] %>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-medium is-primary is-bold is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">RosalinaBot</h1>
            <h1 class="subtitle is-1">A Discord Bot for Nintendo Fans</h1>
            <a href="https://discord.com/api/oauth2/authorize?client_id=322405544490958849&permissions=26624&scope=applications.commands%20bot">
                <button class="button is-light">
                <span class="icon is-medium">
                    <i class="fab fa-discord"></i>
                </span>
                    <span>Invite to Discord</span>
                </button>
            </a>
            <br class="is-hidden-tablet">
            <br class="is-hidden-tablet">
            <a href="https://github.com/alexsmbaratti/RosalinaBot">
                <button class="button is-light">
                <span class="icon is-medium">
                    <i class="fab fa-github"></i>
                </span>
                    <span>View Source Code</span>
                </button>
            </a>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <p>RosalinaBot is not affiliated with nor endorsed by Nintendo in any way.</p>
        <p></p>
    </div>
</section>
<div class="is-hidden-mobile">
    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths">
                        <h1 class="title">
                            Share Your Nintendo Switch Friend Codes on Discord!
                        </h1>
                        <h1 class="subtitle">
                            The Nintendo Switch uses friend codes can be a pain to memorize. With
                            RosalinaBot, you can store your friend code in Discord once, and never have to worry about
                            it
                            again! Want to share your friend code with your server? Just type the r!sc command and
                            RosalinaBot will send out your code.
                        </h1>
                    </div>
                    <div class="column">
                        <figure class="image">
                            <img src="/images/rosalina-bot/sc_example.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <figure class="image">
                            <img src="/images/rosalina-bot/acnh_example.png">
                        </figure>
                    </div>
                    <div class="column is-three-fifths">
                        <h1 class="title">
                            Invite Your Friends to Your Animal Crossing Island!
                        </h1>
                        <h1 class="subtitle">
                            If you want to invite an entire server or channel to your Animal Crossing: New Horizons
                            island,
                            simply use the r!acnh command. You can either share your Dodo Code or your Dream Address.
                            And,
                            you can save your island name and its native fruit.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths">
                        <h1 class="title">
                            Settle it in Smash with your Discord Server!
                        </h1>
                        <h1 class="subtitle">
                            Easily share your Super Smash Bros. Ultimate Battle Arenas with your Discord server with the
                            r!ssbu command. You can set the arena ID and password, or replace the arena ID with a
                            "Friends
                            Only" indicator.
                        </h1>
                    </div>
                    <div class="column">
                        <figure class="image">
                            <img src="/images/rosalina-bot/ssbu_example.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Separate formatting for mobile devices -->
<div class="is-hidden-tablet">
    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Share Your Nintendo Switch Friend Codes on Discord!
                </h1>
                <h1 class="subtitle">
                    The Nintendo Switch uses friend codes can be a pain to memorize. With
                    RosalinaBot, you can store your friend code in Discord once, and never have to worry about
                    it
                    again! Want to share your friend code with your server? Just type the r!sc command and
                    RosalinaBot will send out your code.
                </h1>
                <figure class="image">
                    <img src="/images/rosalina-bot/sc_example.png">
                </figure>
            </div>
        </div>
    </section>

    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Invite Your Friends to Your Animal Crossing Island!
                </h1>
                <h1 class="subtitle">
                    If you want to invite an entire server or channel to your Animal Crossing: New Horizons
                    island,
                    simply use the r!acnh command. You can either share your Dodo Code or your Dream Address.
                    And,
                    you can save your island name and its native fruit.
                </h1>
                <figure class="image">
                    <img src="/images/rosalina-bot/acnh_example.png">
                </figure>
            </div>
        </div>
    </section>

    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Settle it in Smash with your Discord Server!
                </h1>
                <h1 class="subtitle">
                    Easily share your Super Smash Bros. Ultimate Battle Arenas with your Discord server with the
                    r!ssbu command. You can set the arena ID and password, or replace the arena ID with a
                    "Friends
                    Only" indicator.
                </h1>
                <figure class="image">
                    <img src="/images/rosalina-bot/ssbu_example.png">
                </figure>
            </div>
        </div>
    </section>
</div>
<section class="hero is-medium is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle">
                        Serves Over
                    </h1>
                    <h1 class="title is-1">
                        2,000
                    </h1>
                    <h1 class="subtitle">
                        Servers
                    </h1>
                </div>
                <div class="column">
                    <h1 class="subtitle">
                        Stores More Than
                    </h1>
                    <h1 class="title is-1">
                        20,000
                    </h1>
                    <h1 class="subtitle">
                        Friend Codes
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Designed by Alex Baratti in California and Arizona.
        </p>
    </div>
</footer>
</body>
</html>